<template>
  <v-layout row>
    <v-flex xs12>
      <v-toolbar>
        <v-toolbar-title>文件夹</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn 
        @click="extract_to"
        >
          <v-icon>get_app</v-icon>
          解压至工作站
        </v-btn>
      </v-toolbar>
      <p> {{ selected}} </p>
      <v-list 
      subheader
      dense
      >
        <v-subheader> 文件 </v-subheader>
        <v-list-tile
        v-for="(resource, i) in resources"
        :key="i"
        @click=""
        >
          <v-list-tile-action>
            <v-checkbox
            v-model="selected"
            :value="resource"
            :label="'[' + i + ']' + resource"
            ></v-checkbox>
          </v-list-tile-action>
          <v-list-tile-content>
              <!-- <v-list-tile-sub-title>[{{i}}] {{ resource }}</v-list-tile-sub-title> -->
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider></v-divider>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  name: 'DataCenter',
  data: () => ({
    resources: [],
    selected: [],
  }),
  methods: {
    show_center: function () {
      axios
        .get('http://localhost:8000/api/data-center')
        .then(res => {
          console.log(res.data.resources)
          this.resources = res.data.resources
          console.log(this.resources)
        })
    },
    extract_to: function() {
      axios
        .post('http://localhost:8000/api/extract-to', this.selected)
        .then(res => {
          console.log(res.data.body)
        })
    },
    // toggle: function(resource) {
    //   const idx = this.selected.indexOf(resource)
    //   console.log(resource)
    //   if (idx != -1) {
    //     this.selected.push(resource)
    //   } else {
    //     this.selected.pop(resource)
    //   }
    // }
  }, 
  mounted() {
    this.show_center()
    console.log(this.resources)
  }
}
</script>

<style scoped>
</style>
